body{
    background-color: rgb(181, 185, 188);
}
#notification-box{
    width:50%;
    min-height: 5cm;
    height: auto;
    background-color: white;
    border-radius: 0.5rem;
}
#title{
    width:50%;
    min-height: 1cm;
    
    background-color: rgb(231, 160, 160);
    border-radius: 0.5rem;
}
h2{
    text-align: center;
}