body{
    background-color: aqua;
}
h1{
    
    margin-left: 26%;
    
}

#signup-box{
   position: absolute;
   top:30%;
   left:25%;
   
}
.image{
    width: 17cm;
    height:1cm;
    border-style: none;
    border-radius: 0.5rem;
    font-size:large;
    /* margin-top:20px; */
    
}
.name{
   
    width: 17cm;
    height:1cm;
    border-style: none;
    border-radius: 0.5rem;
    font-size:large;
    margin-top:20px;
    
}
.name{
    width: 17cm;
    height:1cm;
    border-style: none;
    border-radius: 0.5rem;
    font-size:large;
    margin-top:20px;
    
}
.bio{
    width: 17cm;
    height:1cm;
    border-style: none;
    border-radius: 0.5rem;
    font-size:large;
    margin-top:20px;
}
.email{
    width: 17cm;
    height:1cm;
    border-style: none;
    border-radius: 0.5rem;
    font-size:large;
    margin-top:20px;
}
.password{
    margin-top:20px;
    width: 17cm;
    height:1cm;
    border-style: none;
    border-radius: 0.5rem;
    font-size:large;
    
}
.signup{
    
    display: flex;
    margin:20px;
    position:absolute;
    left:25%;
    width: 2.5cm;
    height: 1cm;
    font-size: large;
    border-radius: 0.3rem;
    border-style: none;

}
.signup:hover{
    background-color: blue;
    color: white;
}